*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

html, body{
    height: 100%;
}

/* UTILITY-CLASSES */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.bg-gray{
    background-color: rgb(186, 186, 186);
}

.bg-lightblue{
    background-color: rgb(14, 149, 193);
}

.bg-orange{
    background-color: orange;
}

.white{
    color: white;
}

/* END UTILITY-CLASSES */

.container{
    height: 100%;
    flex-direction: column;
}

.calculator{
    background: linear-gradient(to left, rgb(237, 236, 236), rgb(213, 213, 213));
    border-radius: 10px;
}

.boosio span{
    font-size: 22px;
}

.boosio, .display{
    height: 80px;
}

.display{
    background-color: black;
    flex-direction: row-reverse;
}

.zero{
    color: rgb(5, 212, 5);
    padding-right: 30px;
    font-size: 24px;
}

.keyboard{
    padding: 20px;
}

.col-right{
    flex-direction: column;
}


.key{
    padding: 20px;
}

.key-right{
    padding: 15px 20px;
}

.key, .key-right{
    margin: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
}

.col-zero{
    width: 70%;
}

.col-equal{
    width: 30%;
}