*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

html, body{
    height: 100%;
}

/* UTILITY-CLASSES */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

/* END UTILITY-CLASSES */

.container{
    height: 100%;
    flex-direction: column;
}

.calculator{
    background-color: gray;
}

.boosio, .display{
    height: 60px;
}

.display{
    background-color: black;
    flex-direction: row-reverse;
}

.zero{
    color: rgb(5, 212, 5);
}

.col-right{
    height: 180px;
    flex-direction: column;
}

.tasto{
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

.tasto-right{
    padding: 15px 20px;
    margin: 10px;
    border: 1px solid black;
}

.col-zero{
    width: 60%;
}

.col-equal{
    width: 40%;
}